---
---

$headfoot-background: #036;
$headfoot-color: #fff;
$link-color: #337ab7;
$border-color: #ccc;

$scale-medium: 991.98px;
$scale-small: 767.98px;
$scale-tiny: 575.98px;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: underline;
}

img {
  display: block; /* Fix whitespace under images */
}

body {
  font-size: 14pt;
  font-family: Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;

  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(300px, 1170px) minmax(10px, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas: ". h ." ". n ." ". m ." ". f ." ". sf .";

  > header {
    grid-area: h;
    padding: 0.3em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $headfoot-background;
    color: $headfoot-color;

    img {
      height: 90px;
    }

    h1 {
      text-align: right;
      white-space: nowrap;
      margin: 0;
      font-size: 180%;
      font-weight: normal;
      line-height: 100%;

      small {
        display: block;
      }
    }
  }

  > nav {
    grid-area: n;
    text-align: center;
    font-weight: bold;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0.2em 0;

      li {
        display: inline-block;
        margin: 0;
        padding: 0.2em 0.3em;

        &.active {
          background: #ccc;
          border-radius: 0.3em;
          a {
            color: #000;
            text-decoration: none;
          }
        }
      }
    }
  }

  > main {
    grid-area: m;
    background-color: #fff;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    padding: 1em;

    h1,
    h2,
    h3,
    p,
    ul,
    ol,
    dl {
      margin: 0 0 1em 0;
    }

    > p {
      line-height: 1.43;
    }

    aside {
      float: right;
      clear: right;
      width: 22%;
      margin-left: 0.8em;
      margin-bottom: 0.8em;
    }

    ul {
      column-count: 3;
      column-gap: 1em;

      @media only screen and (max-width: $scale-small) {
        column-count: 2;
      }
      @media only screen and (max-width: $scale-tiny) {
        column-count: 1;
        column-gap: 0;
      }
    }

    dl {
      display: inline-grid;
      grid-template-columns: auto auto;
      column-gap: 1em;
      dt {
        grid-column: 1;
      }
      dd {
        grid-column: 2;
        margin: 0;
      }
    }
  }

  > footer {
    grid-area: f;
    background-color: $headfoot-background;
    color: $headfoot-color;
    text-align: center;
    padding: 0.3em 0;

    a,
    a:hover {
      color: $headfoot-color;
    }
  }

  div.header-bg {
    grid-area: 1 / 1 / 2 / -1;
    background-color: $headfoot-background;
    z-index: -1;
  }
  div.nav-bg {
    grid-area: 2 / 1 / 3 / -1;
    background-color: #e7e7e7;
    border-bottom: 0.1em solid darken($border-color, 10%);
    z-index: -1;
  }
  div.footer-bg {
    grid-area: 4 / 1 / 5 / -1;
    background-color: $headfoot-background;
    z-index: -1;
  }
  div.subfooter {
    grid-area: sf;
    background-color: #fff;
    height: 0.8em;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    margin-bottom: 0.8em;
  }
}

/* Gallery */
div.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;

  @media only screen and (max-width: $scale-medium) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (max-width: $scale-small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: $scale-tiny) {
    grid-template-columns: 1fr;
  }
}

figure {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  border-radius: 0.3em;

  > img {
    width: 100%;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;

    &:last-child {
      border-bottom-left-radius: 0.3em;
      border-bottom-right-radius: 0.3em;
    }
  }

  figcaption {
    padding: 0.3em 0.5em;

    h2 {
      display: inline;
      color: $link-color;
      margin: 0;
      font-size: 100%;
    }

    p {
      display: inline;
    }
  }
}
